@page
@model SkrotOchKorn.Pages.AboutUsModel
@{
}
<div>
    <div class="grid-container">

        <div class="item3 Main_background">
        </div>


        <div class="item4"></div>


        <div class="item5"></div>
    </div>
</div>