@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="grid-container">

        <div class="item3 Main_background">
            <h3>@Model.MainTitle1</h3>

            <p>@Model.MainText1</p>

            <h4>@Model.MainTitle2</h4>

            <p>@Model.MainText2</p>
        </div>


        <div class="item4"></div>


        <div class="item5"></div>
    </div>
</div>
