@page
@model IndexModel
@{
    ViewData["Title"] = "Start sida";
}

<div>
     <h3>@Model.MainTitle1</h3>

     <p>@Model.MainText1</p>

     <h4>@Model.MainTitle2</h4>

    <p>@Model.MainText2</p>
</div>
